[core]
    excludesfile = ~/.gitignore
[include]
    path = ~/.gitconfig.local
[color]
	ui = auto
[alias]
	co = checkout
	b  = branch
	s  = status -sb
	sti = status -sb --ignore-submodules
        p = !git push origin `git rev-parse --abbrev-ref HEAD`

